<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sama alashrafea schools</title>
    <link rel="stylesheet" href="mainpage.css">
    <script defer type="module" src="index.js"></script>
  </head>
  <body>
    <div class="big-nav">
      <div class="atp-coin">
        <div class="atp">100 </div> 
        <div class="atp1">ATP</div>
      </div>
      <div class="nav-bar">
        <img src="img.jpg" alt class="nav-bar-img">
         <div class="account"> rayan salameh</div>
      </div>
    </div>

    <article class="articl">
        <div class="homs">
            <span class="home">home</span>
        </div>
      
      <div class="first-articl">
        <img src="img.jpg" alt class="first-articl-imag">
        <div class="first-bargragh-div">
          <p class="first-bargragh">Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Quos reprehenderit suscipit dolor fugiat neque
            nulla maxime ipsam perspiciatis dignissimos error?</p>
        </div>
      </div>

      <div class="first-articl2">
        <img src="img.jpg" alt class="first-articl-imag2">
        <div class="first-bargragh-div2">
          <p class="first-bargragh2">Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Quos reprehenderit suscipit dolor fugiat neque
            nulla maxime ipsam perspiciatis dignissimos error?</p>
        </div>
      </div>

      <div class="first-articl3">
        <img src="img.jpg" alt class="first-articl-imag3">
        <div class="first-bargragh-div3">
          <p class="first-bargragh3">Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Quos reprehenderit suscipit dolor fugiat neque
            nulla maxime ipsam perspiciatis dignissimos error?</p>
        </div>
      </div>
    </article>

    <!-- <section class="sec teachers" >
  <div class="teachers-header">
    <span  >teachers:</span>
  </div>
  <div class="cont">
    
  <div class="teacher">
    <img src="img.jpg" alt="" class="teacher-img">
    <p class="teacher-name">mohamed salameh</p>
    <p class="about-teacher">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, ea. Aperiam veniam temporibus quia doloribus eligendi molestiae! Dolore, assumenda a?</p>
  </div>

  <div class="teacher">
    <img src="img.jpg" alt="" class="teacher-img">
    <p class="teacher-name">mohamed salameh</p>
    <p class="about-teacher">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, ea. Aperiam veniam temporibus quia doloribus eligendi molestiae! Dolore, assumenda a?</p>
  </div>

  <div class="teacher">
    <img src="img.jpg" alt="" class="teacher-img">
    <p class="teacher-name">mohamed salameh</p>
  <p class="about-teacher">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, ea. Aperiam veniam temporibus quia doloribus eligendi molestiae! Dolore, assumenda a?</p>
  </div>

  <div class="teacher">
    <img src="img.jpg" alt="" class="teacher-img">
    <p class="teacher-name">mohamed salameh</p>
    <p class="about-teacher">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, ea. Aperiam veniam temporibus quia doloribus eligendi molestiae! Dolore, assumenda a?</p>
  </div>

  <div class="teacher">
    <img src="img.jpg" alt="" class="teacher-img">
    <p class="teacher-name">mohamed salameh</p>
    <p class="about-teacher">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, ea. Aperiam veniam temporibus quia doloribus eligendi molestiae! Dolore, assumenda a?</p>
  </div>

  <div class="teacher">
    <img src="img.jpg" alt="" class="teacher-img">
    <p class="teacher-name">mohamed salameh</p>
    <p class="about-teacher">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, ea. Aperiam veniam temporibus quia doloribus eligendi molestiae! Dolore, assumenda a?</p>
  </div>
  <button class="btn btn1"><</button>
  <button class="btn btn2">></button>
  </div>
  </section> -->
    <div class="div-cours">
      <p class="cours">classes:</p>
    </div>

    <div class="courses">
      <div class="first-cours">
        <img src="img.jpg" alt class="first-cours-img">
        <p class="asab">blood</p>
        <p class="about-cours">Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Est, laboriosam!</p>
      </div>

      
    </div>

    <!-- 
<footer class="footer">
 <p class="foot-par">sama alashrafea </p>
 <p class="about-school">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, suscipit.</p>
 <a href=""><button class="foot-btn1">re</button></a>
 <button class="foot-btn2"></button>
</footer> -->
  </body>
</html>