doctype html
html
  head
    meta(charset="UTF-8")
    title User Search Page
    link(rel="stylesheet", href="/css/adminUsers.css")
    script(defer src='/js/adminUsers.js')
  - const domain = process.env.DOMAIN_ACTIVE === 'local'? process.env.DOMAIN_LOCAL : process.env.DOMAIN_RENDER;
  body(data-domainid= `${domain}`)
    .search-container
      label(for="searchName") Search by Name:
      input#searchName(type="text" placeholder="Enter name...")
      button#searchBtn Search

    hr
    h2 Search Results
    table#resultsTable
      thead
        tr
          th Name
          th last Name
          th Phone Number
          th Date of Birth
          th Father Name
      tbody#search-body
    hr
    h2 Date Results
    table
      thead
        tr
          th Name
          th last Name
          th Phone Number
          th Date of Birth
          th Father Name
      tbody#dob-body
    hr
    h2 All Results
    table
      thead
        tr
          th Name
          th last Name
          th Phone Number
          th Date of Birth
          th Father Name
      tbody#all-body
    .btns
      btn#left-btn.scroll-btn <-
      .current-counter 0
      p /
      .pages 0
      btn#right-btn.scroll-btn ->