doctype html
html
  head
    meta(charset="UTF-8")
    title User Search Page
    link(rel="stylesheet", href="/css/adminUsers.css")
    script(defer src='/js/adminUsers.js')
  - const domain = process.env.DOMAIN_ACTIVE === 'local'? process.env.DOMAIN_LOCAL : process.env.DOMAIN_RENDER;
  body(data-domainid= `${domain}`)
    .search-container
      .search-options(style="width: 100%;")
        h3(style="display: inline;") Search by : 
        btn.search-option-btn.selected(style="margin-right: 10px;") Name
        btn.search-option-btn Code
      .search-bar(style="width: 100%;")
        input#searchName(type="text" placeholder="Enter value...")
        button#searchBtn(style="margin-left: 10px;") Search
      .error-message.hidden(style="width: 100%;")
        p(style="margin: 0;")
    
    .settings
      .title(style="width: 100%;")
        h3(style="margin-bottom: 0;") تغيير الكلمة
      .pass-body(style="width: 100%;")
        input#username(placeholder='اسم المستخدم')
        input#password(placeholder='كلمة السر ')
        button.search-btn#login تغيير
    
    hr
    h2 Search Results
    table#resultsTable
      thead
        tr
          th Name
          th email
          th value
          th active
          th activate
          th added
          th add package
      tbody#search-body

    hr
    h2 All Results
    table#allResults
      thead
        tr
          th Name
          th email
          th value
          th active
          th activate
          th added
          th add package
      tbody#all-body
    .btns
      btn#left-btn.scroll-btn <-
      .current-counter 0
      p /
      .pages 0
      btn#right-btn.scroll-btn ->