doctype html
html(lang="ar", dir="rtl")
  head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title StudyYou
  link(rel='stylesheet', href='/css/newMain.css')
  meta(name='description', content=`${metaContent}`)
  link(rel="icon" type="image/x-icon" href="/imgs/favicon.ico")
  - const domain = process.env.DOMAIN_ACTIVE === 'local'? process.env.DOMAIN_LOCAL : process.env.DOMAIN_RENDER;
  body(data-domain = `${domain}` , data-role=`${user ? user.role : undefined}`, style='background-image: url(/imgs/backgroundImage.png);')
    
    block content
    block scripts
    footer.site-footer
      .footer-container
        .footer-grid
          .footer-info
            h3.footer-title Iyad Sukkar
            p.footer-description Creating digital experiences that combine innovative technology with beautiful design.
            .social-links
              a.social-icon-link(href="#")
                i(data-feather="github")
              a.social-icon-link(href="#")
                i(data-feather="twitter")
              a.social-icon-link(href="#")
                i(data-feather="linkedin")
              a.social-icon-link(href="#")
                i(data-feather="dribbble")
          .footer-links-column
            h4.column-title Quick Links
            ul.link-list
              li
                a.footer-link(href="#") Home
              li
                a.footer-link(href="#") About
              li
                a.footer-link(href="#") Projects
              li
                a.footer-link(href="#") Contact
          .footer-links-column
            h4.column-title Services
            ul.link-list
              li
                a.footer-link(href="#") Web Development
              li
                a.footer-link(href="#") UI/UX Design
              li
                a.footer-link(href="#") Mobile Apps
              li
                a.footer-link(href="#") Consulting
        .footer-bottom
          p.copyright-text © 2023 iyad sukkar. All rights reserved.
          .privacy-links
            a.footer-link(href="#") Privacy Policy
            a.footer-link(href="#") Terms of Service