doctype html
html(lang='ar')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    link(rel='stylesheet', href='/css/uploadLesson.css')
    title Document
  - const domain = process.env.DOMAIN_ACTIVE === 'local'? process.env.DOMAIN_LOCAL : process.env.DOMAIN_RENDER;
  body(data-domain = `${domain}`)
    .c
      .correct.hidden
        .correct-message you buy it 
    .center
      .header
        .upload-class تعديل درس
      .container
        .form
          .label-input
            label(for='lesson-name', dir='rtl', lang='ar') عنوان الدرس
          input#lesson-name.input(type='text', value=`${lesson.title}`)
          .label-input
            label(for='image', dir='rtl', lang='ar') صورة الدرس
          input#image.input(type='text', value=`${lesson.photoUrl}`)
          .label-input
            label(for='num', dir='rtl', lang='ar') رقم الدرس
          input#num.input(type='number', dir='rtl', lang='en', value=`${lesson.num}`)
        .btn
          button.btn-sub(dir='rtl', lang='ar') تعديل
    script(defer, src='/js/editLesson.js')