doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title sama alashrafea schools
    link(rel='stylesheet', href='mainpage.css')
    script(defer='', type='module', src='index.js')
  body
    .big-nav
      .atp-coin
        .atp 100 
        |  
        .atp1 ATP
      .nav-bar
        img.nav-bar-img(src='img.jpg', alt='')
        .account  rayan salameh
    article.articl
      .homs
        span.home home
      .first-articl
        img.first-articl-imag(src='img.jpg', alt='')
        .first-bargragh-div
          p.first-bargragh
            | Lorem ipsum, dolor sit amet consectetur
            | adipisicing elit. Quos reprehenderit suscipit dolor fugiat neque
            | nulla maxime ipsam perspiciatis dignissimos error?
      .first-articl2
        img.first-articl-imag2(src='img.jpg', alt='')
        .first-bargragh-div2
          p.first-bargragh2
            | Lorem ipsum, dolor sit amet consectetur
            | adipisicing elit. Quos reprehenderit suscipit dolor fugiat neque
            | nulla maxime ipsam perspiciatis dignissimos error?
      .first-articl3
        img.first-articl-imag3(src='img.jpg', alt='')
        .first-bargragh-div3
          p.first-bargragh3
            | Lorem ipsum, dolor sit amet consectetur
            | adipisicing elit. Quos reprehenderit suscipit dolor fugiat neque
            | nulla maxime ipsam perspiciatis dignissimos error?
    //
      <section class="sec teachers" >
      <div class="teachers-header">
      <span  >teachers:</span>
      </div>
      <div class="cont">
      <div class="teacher">
      <img src="img.jpg" alt="" class="teacher-img">
      <p class="teacher-name">mohamed salameh</p>
      <p class="about-teacher">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, ea. Aperiam veniam temporibus quia doloribus eligendi molestiae! Dolore, assumenda a?</p>
      </div>
      <div class="teacher">
      <img src="img.jpg" alt="" class="teacher-img">
      <p class="teacher-name">mohamed salameh</p>
      <p class="about-teacher">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, ea. Aperiam veniam temporibus quia doloribus eligendi molestiae! Dolore, assumenda a?</p>
      </div>
      <div class="teacher">
      <img src="img.jpg" alt="" class="teacher-img">
      <p class="teacher-name">mohamed salameh</p>
      <p class="about-teacher">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, ea. Aperiam veniam temporibus quia doloribus eligendi molestiae! Dolore, assumenda a?</p>
      </div>
      <div class="teacher">
      <img src="img.jpg" alt="" class="teacher-img">
      <p class="teacher-name">mohamed salameh</p>
      <p class="about-teacher">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, ea. Aperiam veniam temporibus quia doloribus eligendi molestiae! Dolore, assumenda a?</p>
      </div>
      <div class="teacher">
      <img src="img.jpg" alt="" class="teacher-img">
      <p class="teacher-name">mohamed salameh</p>
      <p class="about-teacher">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, ea. Aperiam veniam temporibus quia doloribus eligendi molestiae! Dolore, assumenda a?</p>
      </div>
      <div class="teacher">
      <img src="img.jpg" alt="" class="teacher-img">
      <p class="teacher-name">mohamed salameh</p>
      <p class="about-teacher">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, ea. Aperiam veniam temporibus quia doloribus eligendi molestiae! Dolore, assumenda a?</p>
      </div>
      <button class="btn btn1"><</button>
      <button class="btn btn2">></button>
      </div>
      </section>
    .div-cours
      p.cours classes:
    .courses
      .first-cours
        img.first-cours-img(src='img.jpg', alt='')
        p.asab blood
        p.about-cours
          | Lorem ipsum dolor, sit amet consectetur
          | adipisicing elit. Est, laboriosam!
    //
      <footer class="footer">
      <p class="foot-par">sama alashrafea </p>
      <p class="about-school">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, suscipit.</p>
      <a href=""><button class="foot-btn1">re</button></a>
      <button class="foot-btn2"></button>
      </footer>