doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://unpkg.com/css.gg@2.0.0/icons/css/profile.css', rel='stylesheet')
    title sama alashrafea schools
    link(rel='stylesheet', href='mainpage.css')
    script(defer='', type='module', src='index.js')
  body
    .big-nav
      .nav-bar
        img.nav-bar-img(src='img.jpg', alt='')
        .account  rayan salameh
        .atp-coin
          .atp 100 
          |  
          .atp1 ATP
    article.articl
      .homs
        span.home home
      .first-articl
        img.first-articl-imag(src='img.jpg', alt='')
        .first-bargragh-div
          p.first-bargragh
            | Lorem ipsum, dolor sit amet consectetur
            | adipisicing elit. Quos reprehenderit suscipit dolor fugiat neque
            | nulla maxime ipsam perspiciatis dignissimos error?
      .first-articl2
        img.first-articl-imag2(src='img.jpg', alt='')
        .first-bargragh-div2
          p.first-bargragh2
            | Lorem ipsum, dolor sit amet consectetur
            | adipisicing elit. Quos reprehenderit suscipit dolor fugiat neque
            | nulla maxime ipsam perspiciatis dignissimos error?
      .first-articl3
        img.first-articl-imag3(src='img.jpg', alt='')
        .first-bargragh-div3
          p.first-bargragh3
            | Lorem ipsum, dolor sit amet consectetur
            | adipisicing elit. Quos reprehenderit suscipit dolor fugiat neque
            | nulla maxime ipsam perspiciatis dignissimos error?
    
    .div-cours
      p.cours classes:
    .courses
      .first-cours
        img.first-cours-img(src='img.jpg', alt='')
        p.asab blood
        p.about-cours
          | Lorem ipsum dolor, sit amet consectetur
          | adipisicing elit. Est, laboriosam!
    