@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap");
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  /* user-select: none !important; */
}

:root {
  --y: #87f35d;
  --yalo: #ffffff;
  --blue: #5285e8;
  --white: #f0f5f4;
  --black: #181818;
}

a {
  text-decoration: none;
}
a:link {
  color: var(--black);
}
a:visited {
  color: var(--black);
}
body {
  position: relative;
  margin: 0;
  font-family: monospace;
  font-size: 1rem;
  /* user-select: none; */
  padding-bottom: 40px;
}

.spinner {
  display: flex;
  justify-content: center;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 65px;
  aspect-ratio: 1;
  --_c: no-repeat radial-gradient(farthest-side, #063730 92%, #0000);
  background: var(--_c) top, var(--_c) left, var(--_c) right, var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}
@keyframes l7 {
  to {
    transform: rotate(0.5turn);
  }
}

.about-cours {
  color: var(--black);
  width: 100%;
  text-align: center;
  height: auto;
  padding: 3px;
  text-align: end;
  margin-right: 9px;
  font-family: "Lemonada";
  font-weight: bold;
}

.asab {
  color: var(--blue);
}

.buy {
  background-color: var(--y);
  font-size: 20px;
  width: 50%;
  position: absolute;
  bottom: -20px;
  left: 25%;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Permanent Marker", cursive;
}

.price {
  font-family: "Permanent Marker", cursive;
  color: #87f35d;
  font-size: 3rem;
  height: auto;
}

.red {
  background-color: rgb(233, 49, 3);
}

.green {
  background-color: #42fa9e;
}
.big-nav {
  background-color: none;
}
.correct {
  border-radius: 10px;
  position: fixed;
  top: -125px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 125px;
  z-index: 1;
  animation: message 1s ease-out, message-return 1s ease-out 3s;
  animation-fill-mode: forwards;
}

.correct-message {
  text-align: center;
}

.img-correct {
  display: none;
  position: absolute;
  left: 20px;
}

@keyframes message {
  from {
    top: -150px;
  }

  to {
    top: 15px;
  }
}

@keyframes message-return {
  from {
    top: 15px;
  }

  to {
    top: -150px;
  }
}

.c {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.bi-trash {
  position: absolute;
  right: -25px;
  font-size: 2rem;
  z-index: 10;
}

.trash1 {
  color: rgb(192, 167, 24);
}

.trash2 {
  color: red;
}

.bi-edit {
  position: absolute;
  right: -25px;
  top: 50px;
  width: 20px;
  height: 20px;
  color: #313131;
}

.c {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.layer {
  width: 100%;
  height: 100%;
  background-color: #ccc9c9cc;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.buy-container {
  border-radius: 20px;
  width: 300px;
  height: 300px;
  background-color: var(--blue);
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buy-par {
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
}

.buy-btns-container {
  margin-top: 40px;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buy-accept {
}

.buy-btn {
  border-radius: 5px;
  padding: 6px;
  background: var(--y);
  font-size: 2rem;
}

.first-cours:hover {
  margin-bottom: 15px;
  margin-top: 15px;
}

.account {
  color: var(--y);

  font-family: Lalezar;
  font-size: 2rem;
}

.upload-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  position: fixed;
  right: 20px;
  bottom: 30px;
}

.nav-bar-img-a {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  border-radius: 50%;
}
.nav-bar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.articl {
  display: grid;
  position: relative;
}

.homs {
  display: none;
  justify-content: center;
}

.home {
  display: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
}

.first-articl {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.doctor {
  margin-right: 7px;
  font-size: 25px;
  font-family: Lemonada;
  color: var(--y);
  font-weight: bolder;
}
.intro {
  font-family: "Noto Sans Arabic";
  font-weight: bold;
}

.first-articl-imag {
  width: 450px;
  height: auto;
}

.first-bargragh-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.background-img {
  position: fixed;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.first-bargragh {
  z-index: 3;
  width: 100%;
  display: block;
}

.courses {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 100px;
  height: auto;
  position: relative;
}

.div-cours {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 220;

  margin-top: 150px;
}

.cours {
  font-size: 3rem;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(0, 0, 0);

  width: 70%;
  text-align: center;
}

.course-view {
  min-height: 300px;
  background-color: whitesmoke;
}
.class-view {
  min-height: 100px;
}
.sign-in-btn {
  font-weight: bolder;
  text-align: center;
  text-decoration: none;

  width: 100px;
  height: 22px;
  border: none;
  border-radius: 10px;
  background-color: var(--y);
}
.sign-in-btn:hover {
  opacity: 0.9;
}
.sign-in-btn:active {
  opacity: 0.7;
  color: black;
}

.subcourse-view {
  min-height: 300px;
  /* background-image: url('/imgs/subcourses/study-with-me.jpg'); */
  background-position: center;
  background-size: cover;
}

.card-container-a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.first-cours {
  cursor: default;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border: 4px solid var(--blue);
  width: 220px;
  margin-left: 10px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 30px;
  box-shadow: 5px 5px 5px rgba(32, 32, 32, 0.15);
  transition: all 0.1s;
}

.first-cours-img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.class-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asab {
  height: auto;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: Lemonada;
  font-size: 22px;
  line-height: 35px;
  font-weight: bold;
}

@media screen and (min-width: 481px) and (max-width: 590px) {
  .account {
    font-size: 25px;
    color: var(--y);
  }

  .atp {
    color: var(--yalo);

    font-size: 17px;
  }

  .atp1 {
    color: var(--y);
    font-size: 22px;
  }

  .nav-bar-img-a {
    width: 40px;
    height: 40px;
    cursor: default;
  }

  .first-cours-img {
    width: 100%;
    height: auto;
  }

  .asab {
    font-size: 22px;
  }

  .about-cours {
    font-size: 14px;
  }

  .big-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .atp-coin {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .atp {
    color: var(--yalo);

    font: 20px impact;
    margin-right: 8px;
    margin-left: 10px;
  }

  .atp1 {
    color: var(--y);

    font: 25px impact;

    margin-right: 5px;
  }

  .nav-bar {
    background: var(--blue);
    position: relative;
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 0 0 30px 30px;
  }

  .account {
    position: absolute;
    left: 20px;
    color: var(--y);
  }

  .articl {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .div-cours {
    margin-top: 20px;
  }
  .big-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .account {
    font-size: 22px;
    color: var(--y);
  }

  .atp {
    color: var(--yalo);

    font-size: 14px;
  }

  .atp1 {
    color: var(--y);

    font-size: 19px;
  }
  .nav-bar-img-a {
    width: 35px;
    height: 35px;
  }

  .first-cours-img {
    width: 100%;
    height: 100px;
  }

  .asab {
    font-size: 20px;
  }

  .about-cours {
    font-size: 13px;
  }

  .atp-coin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }

  .atp {
    color: var(--yalo);

    font: 20px impact;
    margin-right: 8px;
    margin-left: 10px;
  }

  .atp1 {
    color: var(--y);

    font: 25px impact;
    margin-right: 5px;
  }

  .nav-bar {
    background: var(--blue);
    position: relative;
    width: 95%;
    height: 70px;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 0 0 30px 30px;
  }

  .account {
    position: absolute;
    left: 20px;
    color: var(--y);
  }

  .articl {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .first-articl-imag {
    width: 350px;
  }
  .doctor {
    font-size: 20px;
  }
}

@media screen and (min-width: 591px) and (max-width: 750px) {
  .sign-in-btn {
    width: 130px;
    height: 30px;
    font-size: 22px;
  }

  .big-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .atp-coin {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .atp {
    color: var(--yalo);
    font: 20px impact;
    margin-right: 8px;
    margin-left: 10px;
  }

  .atp1 {
    color: var(--y);

    font: 25px impact;

    margin-right: 5px;
  }

  .nav-bar {
    background: var(--blue);
    position: relative;
    width: 85%;

    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 0 0 30px 30px;
  }

  .account {
    position: absolute;
    left: 20px;
    color: var(--y);
  }

  .articl {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 750px) {
  .first-articl {
    display: flex;
    flex-direction: column;
  }
  .first-bargragh {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 750px) {
  .sign-in-btn {
    width: 130px;
    height: 30px;
    font-size: 22px;
  }
  .first-articl-imag {
    object-fit: cover;
    object-position: center;
    margin-left: -70px;
  }
  .first-bargragh {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .big-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .atp-coin {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .atp {
    color: var(--yalo);
    font: 20px impact;
    margin-right: 8px;
    margin-left: 10px;
  }

  .atp1 {
    color: var(--y);

    font: 25px impact;

    margin-right: 5px;
  }

  .nav-bar {
    background: var(--blue);
    position: relative;
    width: 80%;

    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 0 0 30px 30px;
  }

  .account {
    position: absolute;
    left: 20px;
    color: var(--y);
  }

  .articl {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .first-articl-imag {
    width: 500px;
    margin-left: 5px;
  }
  .doctor {
    font-size: 30px;
  }
}
@media screen and (min-width: 990px) {
  .doctor {
    font-size: 40px;
  }
  .intro {
    font-size: 1.5rem;
  }
}
.hidden {
  display: none;
}
.j {
  text-align: center;
}

@media screen and (min-width: 1050px) {
  .first-articl-imag {
    width: 600px;
  }
}