@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --y: #87f35d;
  --yalo: #ffffff;
  --blue: #5285e8;
  --white: #f0f5f4;
  --black: #181818;
}

body {

  position: relative;
  margin: 0;
  font-family: monospace;
  font-size: 1rem;

  padding-bottom: 40px;
  background-image: url('/imgs/backgroundImage.png');
}

.about-cours {
  color: var(--black);
  width: 100%;
  text-align: center;
  height: auto;
  padding: 3px;
  text-align: end;
  margin-right: 9px;
  font-family: "Lemonada";
  font-weight: bold;
}

.asab {
  color: var(--blue);
}

.buy {
  background-color: var(--y);
  font-size: 20px;
  width: 50%;
  position: absolute;
  bottom: -10px;
  left: 25%;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Permanent Marker", cursive;

}

.price {
  font-family: "Permanent Marker", cursive;
  color: #87f35d;
  font-size: 3rem;
  height: auto;
}

.red {
  background-color: rgb(233, 49, 3);
}

.green {
  background-color: #42fa9e;
}
.big-nav{
  background-color: none;
}
.correct {
  border-radius: 10px;
  position: fixed;
  top: -125px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 125px;
  z-index: 1;
  animation: message 1s ease-out, message-return 1s ease-out 3s;
  animation-fill-mode: forwards;
}

.correct-message {
  text-align: center;

}

.img-correct {
  display: none;
  position: absolute;
  left: 20px;
}

@keyframes message {
  from {
    top: -150px;
  }

  to {
    top: 15px;
  }
}

@keyframes message-return {
  from {
    top: 15px;
  }

  to {
    top: -150px;
  }
}

.c {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}


.bi-trash {
  position: absolute;
  right: -20px;
  font-size: 2rem;
}

.trash1 {
  color: rgb(128, 109, 0);
}

.trash2 {
  color: red;
}

.bi-edit {
  position: absolute;
  right: -20px;
  top: 50px;
  width: 20px;
  height: 20px;
  color: #313131;
}

.c {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.layer {
  width: 100%;
  height: 100%;
  background-color: #ccc9c9cc;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.buy-container {
  border-radius: 20px;
  width: 300px;
  height: 300px;
  background-color: var(--blue);
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buy-par {
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
}

.buy-btns-container {
  margin-top: 40px;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;


}

.buy-accept {}

.buy-btn {
  border-radius: 5px;
  padding: 6px;
  background: var(--y);
  font-size: 2rem;
}

.first-cours:hover {
  transition: all 0.1s;
  margin-bottom: 15px;
  margin-top: 15px;
}

.account {
  color: var(--y);

  font-family: Lalezar;
  font-size: 2rem;
}

.upload-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  position: fixed;
  right: 20px;
  bottom: 30px;
}

.nav-bar-img {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  border-radius: 50%;


}

.articl {
  display: grid;
  position: relative;

}

.homs {
  display: none;
  justify-content: center;
}

.home {
  display: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;



}

.first-articl {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 

}
.doctor{
 
  margin-right: 7px;
  font-size: 3rem;
  font-family: Lemonada;
  color: var(--y);
  font-weight: bolder;
}
.intro{
  font-family: "Noto Sans Arabic";
  font-weight: bold;
}

.first-articl-imag {
  
  width: 550px;
  height: auto;

}

.first-bargragh-div {
display: flex;
justify-content: center;
align-items: center;
  width: 100%;
  height: 100px;

}
.background-img{
  position: fixed;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.first-bargragh{
  z-index: 3;
  width: 100%;
display: block;
}

.courses {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 100px;
  height: auto;
  position: relative;

}

.div-cours {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 220;

  margin-top: 150px;
}

.cours {
  
  font-size: 3rem;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(0, 0, 0);
 
  width: 70%;
  text-align: center;
}

.course-view{
  min-height: 300px;
  background-color: whitesmoke;

}
.subcourse-view{
  min-height: 300px;
  /* background-image: url('/imgs/subcourses/study-with-me.jpg'); */
  background-position: center;
  background-size: cover;
}
.first-cours {
  border: none;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border: 4px solid var(--blue);
  width: 220px;
  margin-left: 10px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 30px;
  box-shadow: 5px 5px 5px rgba(32, 32, 32, 0.15);
}

.first-cours-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.class-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asab {
  height: auto;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: Lemonada;
  font-size: 22px;
  line-height: 35px;
  font-weight: bold;
}




@media screen and (min-width:481px) and (max-width:590px) {
  .account {
    font-size: 25px;
    color: var(--y);

  }

  .atp {
    color: var(--yalo);

    font-size: 17px;
  }

  .atp1 {
    color: var(--y);
    font-size: 22px;
  }

  .nav-bar-img {
    width: 40px;
    height: 40px;
  }

  .first-cours-img {
    width: 100px;
    height:auto;
  }

  .asab {
    font-size: 22px;
  }

  .about-cours {
    font-size: 14px;
  }

  .big-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .atp-coin {
    display: flex;
    justify-content: end;
    align-items: center;

  }

  .atp {
    color: var(--yalo);

    font: 20px impact;
    margin-right: 8px;
    margin-left: 10px;
  }

  .atp1 {
    color: var(--y);

    font: 25px impact;

    margin-right: 5px;
  }

  .nav-bar {
    background: var(--blue);
    position: relative;
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 0 0 30px 30px;

  }

  .account {
    position: absolute;
    left: 20px;
    color: var(--y);
  }


  .articl {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;

  }


}

@media screen and (max-width:480px) {
.div-cours{
  margin-top: 20px;
}
  .big-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .account {
    font-size: 22px;
    color: var(--y);
  }

  .atp {
    color: var(--yalo);

    font-size: 14px;
  }

  .atp1 {
    color: var(--y);

    font-size: 19px;
  }

  .nav-bar-img {
    width: 35px;
    height: 35px;
  }

  .first-cours-img {
    width: 100%;
    height:100px;
  }

  .asab {
    font-size: 20px;
  }

  .about-cours {
    font-size: 13px;
  }

  .atp-coin {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }

  .atp {
    color: var(--yalo);

    font: 20px impact;
    margin-right: 8px;
    margin-left: 10px;
  }

  .atp1 {
    color: var(--y);

    font: 25px impact;
    margin-right: 5px;
  }

  .nav-bar {

    background: var(--blue);
    position: relative;
    width: 95%;
    height: 70px;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 0 0 30px 30px;

  }

  .account {
    position: absolute;
    left: 20px;
    color: var(--y);

  }


  .articl {


    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;

  }
  .first-articl-imag{
    width: 300px;
  }
.doctor{
  font-size: 2rem;
}
}

@media screen and (min-width:591px) and (max-width:750px) {


  .big-nav {

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .atp-coin {

    display: flex;
    justify-content: end;
    align-items: center;

  }

  .atp {
    color: var(--yalo);
    font: 20px impact;
    margin-right: 8px;
    margin-left: 10px;
  }

  .atp1 {
    color: var(--y);

    font: 25px impact;

    margin-right: 5px;
  }

  .nav-bar {

    background: var(--blue);
    position: relative;
    width: 85%;

    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 0 0 30px 30px;

  }

  .account {
    position: absolute;
    left: 20px;
    color: var(--y);

  }


  .articl {


    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;

  }

}

@media screen and (max-width:750px) {
  .first-articl{
    display: flex;
    flex-direction: column;
  }
  .first-bargragh{
    display:flex ;
    flex-direction: column;
   align-items: center;  }
  
}
@media screen and (min-width:750px) {
.first-articl-imag{
  object-fit: cover;
 object-position: center;
 margin-left: -70px;
}
.first-bargragh{
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
  .big-nav {

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .atp-coin {

    display: flex;
    justify-content: end;
    align-items: center;

  }

  .atp {
    color: var(--yalo);
    font: 20px impact;
    margin-right: 8px;
    margin-left: 10px;
  }

  .atp1 {
    color: var(--y);

    font: 25px impact;

    margin-right: 5px;
  }

  .nav-bar {

    background: var(--blue);
    position: relative;
    width: 80%;

    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 0 0 30px 30px;

  }

  .account {
    position: absolute;
    left: 20px;
    color: var(--y);

  }


  .articl {


    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;

  }
  .first-articl-imag{
    width: 600px;
  }
.doctor{
  font-size: 3rem;
}
}
@media screen and (min-width:990px){
  .doctor{
    font-size: 4rem;
  }
  .intro{
    font-size: 1.5rem;
  }
}
.hidden {
  display: none;
}
.j{
  text-align: center;
}