*{
  user-select: none;
}

body,html {
    margin: 0;
    padding: 0;

}
.background-img{
    position: fixed;
    z-index: -10;
    width: 100%;
    height: 100%;
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  height: 100%;
}
body{
  background-image: url('/imgs/backgroundImage.png');
}
:root {
    
    --y: #bbfb4c;
    --yalo: #ffffff;
    --blue: #5285e8;
    --white: #f0f5f4;
    --black: #181818;
  }

button {
  background: none;
}
summary  {
    list-style: none;
    text-align: center;
  }

  summary::-webkit-details-marker {
    display: none;
  }
.r {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/imgs/backgroundImage.png');
}

.video-container{
  position: relative;
}
h1 {
  border: 5px solid var(--y);
  background-color: var(--blue);
  padding: 8px;
  border-radius: 10px;
  position: relative;
  z-index: 10;
}
.fl, .sl{
  position: absolute;
  top: 0;
  font-size: 11px;
  color: rgb(172, 170, 170);
}
.tl, .ll{
  position: absolute;
  bottom: 0;
  font-size: 11px;
  color: rgb(177, 177, 177);
}
.fl, .tl{
  left: -4px;
}
.sl, .ll{
  right: -4px;
}

.video-container {
  position: relative;
  overflow: visible;
  margin-top: 20px;
  width: 90%;
  border: 3px solid var(--blue);
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9), -3px 0px 5px rgba(0, 0, 0, 0.9);
}

.list {
  overflow-y: scroll;
  scrollbar-width: thin;
  width: 18%;
  height: 80%;
  position: fixed;
  right: 0;
  top: 20px;
  margin-top: 20px;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: var(--blue);
}
.red {
  background-color: rgb(233, 49, 3);
}
.green {
  background-color: #42fa9e;
}
.correct {
  border-radius: 10px;
  position: fixed;
  top: -125px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 125px;
  z-index: 11;
  animation: message 1s ease-out, message-return 1s ease-out 3s;
  animation-fill-mode: forwards;
}
.correct-message {
  width: auto;
}
.img-correct {
  display: none;
  position: absolute;
  left: 20px;
}
@keyframes message {
  from {
    top: -150px;
  }
  to {
    top: 15px;
  }
}
@keyframes message-return {
  from {
    top: 15px;
  }
  to {
    top: -150px;
  }
}
.c {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 11;
}
.lesson-list {
  background-color: #bbfb4c;
  margin: none;
  padding: none;
}
.lesson-title {
  display: flex;
  text-align: start;
  margin: none;
}
.course-title {
  text-align: center;
  width: 100%;
  height: auto;
  background-color: var(--y);
}
summary {
  font-size: 22px;
  background-color: var(--y);
  margin-bottom: 5px;
  cursor: pointer;
}
summary:hover{
  opacity: 0.9;
}
summary:active{
  opacity: 0.8;
}
.video-title {
  padding: 5px;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: var(--yalo);
  cursor: pointer;
}
.video-title:hover{
  opacity: 0.9;
}
.video-title:active{
  opacity: 0.8;
}
.video-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imgs {
  display: flex;
  justify-content: space-evenly;
}
.list-button {
  position: fixed;
  top: 5px;
  right: 5px;
  background-color: none;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btns-flex-container {
  display: flex;
  justify-content: space-evenly;
}
.width {
  width: 20px;
  height: 20px;
}
.questions-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 65px;
  background-image: url('/imgs/backgroundImage.png');
}
.question {
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  min-width: 160px;
  max-width: 300px;
  min-height: 200px;
  flex-grow: 1;
  background-color: var(--y);
  border: 1px solid gray;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
  /* display: grid;
   grid-template-rows: 1fr ,2fr;
   grid-auto-columns: 1fr; */
}
.title-question {
  width: 100%;
  height: auto;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.a {
  display: block;
}
.answer-text {
  font-size: 18px;
  height: auto;
}
.btn-center {
  display: flex;
  justify-content: center;
  background-image: url('/imgs/backgroundImage.png');
  padding-bottom: 30px;
}
.submite {
  width: 120px;
  height: 45px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--blue);
  transition: all 0.15s;
}
.submite:hover{
  opacity: 0.9;
}
.submite:active{
  opacity: 0.8;
}

.add {
  text-align: center;
  box-shadow: 10px #181818;
  position: fixed;
  left: 20px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  border: none;
}
.answer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.a {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 40%;
  margin-right: 20px;
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 1rem;
  }
  .list {
    width: 32%;
  }
  .video-container {
    display: flex;
    justify-content: center;
    height: 300px;
  }
  summary {
    font-size: 16px;
    margin-top: 5px;
  }
  .course-title {
    margin-bottom: 7px;
    font-size: 22px;
  }
  .video-title {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
@media screen and (min-width: 450px) {
  .list {
    width: 200px;
  }
  .video-container {
    display: flex;
    justify-content: center;
    height: 350px;
  }
}
@media screen and (min-width: 801px) {
  .video-container {
    display: flex;
    justify-content: center;
    height: 600px;
  }
  .video {
    width: 60%;
  }
}
.checked {
  background-color: rgb(0, 183, 255);
}
.correct-answer {
  background-color: rgb(69, 255, 13);
}
.wrong-answer {
  background-color: red;
}
.expected-answer {
  background-color: rgb(99, 99, 99);
}
.trash1 {
  color: rgb(211, 180, 4);
}

.trash2 {
  color: rgb(255, 0, 0);
}
.hidden {
  display: none;
}
