*{
    margin: 0;
    padding: 0;
}
:root{
    --yalo: #bbfb4c;
    --blue: #5285e8;
    --white: #f0f5f4;
    --black: #181818;
  }
html,body{
    margin: -1px;
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background-color: #fff;
  }

.container{
    width:70%;
    height: 600px;
   display: grid;
   grid-template-columns:  repeat(1,1fr 3fr);
   grid-auto-rows: 600px;
   background: #57a8eba1;
    column-gap: 6rem;
}
.list{
    grid-column: 1/2;
    background: var(--blue);
    
    height: 100%;
}
.btn{
    font-size: 15px;
    display: block;
    width: 100%;
    height: 50px;
    border: 3px solid gray;
    border-bottom: 1px solid rgba(128, 128, 128, 0.377);
    margin-bottom: 2px;

    background: var(--yalo);
}

.btn:hover{
    background-color: #a1cc58;
    margin-bottom: 3px;
    margin-top: -1px;
}

.btn:active{
    background-color: #85ad3e;
    margin-bottom: 3px;
    margin-top: -1px;
}

.setting-info{
    overflow-y: auto ;
    grid-column: 2/3;
    display: grid;
grid-template-rows: repeat(1,1fr 1fr);
padding-bottom: 100px;
    position: relative;
}

.name-email{
    position: relative;
    padding-bottom: 100px;
    border-bottom: 1px solid gray ;
}
.account-info{
   color: rgba(0, 0, 0, 0.952);
    font-size: 1.5rem;
    font-family:monospace ;
    margin-top: 10px;
   
}
.block{
    padding: 8px;
        width:50%;
        height: 21px;
    display: block;
    border: 1px solid rgba(197, 197, 197, 0.562);
    border-radius: 17px;
    margin-top: 10px;
    
    
}
.block:focus{
    outline: none;
}

.label{
    margin-top: 20px;
 
}
.save{
    position: absolute;
    left: 10%;
    bottom: 20px;
    width: 120px;
    height: 40px;
    box-shadow: 2px 1px 3px rgba(143, 142, 142, 0.5) ;
    border-radius: 15px;
    border: none;
    background:var(--yalo);

}

.save:hover{
    background: var(--yalo);
}

.password-update{
    position: relative;
    padding-bottom: 60px;
    
}
.password-update-title{
    text-transform: uppercase;
   
    font-size: 1.5rem;
    font-family:monospace ;
    margin-top: 10px;
}
.subcourse-course{
    width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;

}
.course-title{
    font-weight: bold;
    margin-bottom: 30px;
}
.subcourse-title{
    background-color: var(--yalo);
    border-radius: 20px;
    padding: 5px;
}
.reset{
    position: absolute;
    left: 10%;
    bottom: -30px  ;
    width: 120px;
    height: 40px;
    box-shadow: 2px 1px 3px rgba(143, 142, 142, 0.5) ;
    border-radius: 15px;
    border: none;
    background: var(--yalo);
    
}
.reset:hover{
    background: -webkit-linear-gradient(left, #7692b8, #7df0b7);
}
.setting-btn{
    display: none;
}

@media screen and (max-width:500px) {

    .container{
        width:100%;
        height: 100%;
        display: grid;
        grid-template-columns: 0;
        column-gap: 15px;
     
       /* display: grid;
       grid-template-columns: repeat(1 ,1fr 2fr);
       grid-auto-rows: 600px; */
       background: var(--blue);
    }
    .no-courses-message{
     margin-right: 81px;
        
    }
    .list{
        width: 120px;
        border-radius: 20px;
        background: var(--blue);
        position: absolute;
        left: 1%;
        top:7%;
        height: auto;
        z-index: 1;

    }
    .btn{
        font-size: 15px;
        display: block;
        width: 100%;
        height: 50px;

        border-bottom: 1px solid rgba(128, 128, 128, 0.377);
    
        background: var(--yalo);}
    .setting-btn{
        border: none;
        background: none;
        font-size: 2rem;
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 4px;
        z-index: 1;
    }
    .setting-btn:hover{
        transition: all 0.1s;
       color:var(--yalo);

    }
}
/* @media screen and (max-width:2000px){
 
    html,body{
        display: grid;
        height: 100%;
        width: 100%;
        place-items: center;
        background: -webkit-linear-gradient(left, #4574b2, #42fa9e    );
      }
    
 
} */
.center{
    text-align: center;
    margin-left: 24%;
}
#help-input{
    width:70%;
  height: 150px;

}

#send-help-btn{
    
    margin-left: 40%;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.course-container{
    position: relative;
    display: flex;
    flex-direction: column;
  margin-top: 10px;
    background-color: #5285e8;
    width: 150px;
    height: 200px;
    margin-left: 10px;
    border-radius: 10px;
    margin-right: 10px;
  
}
.course-img{
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0 0;
}
.gg-danger {
    color:#ff0000d7;  
    box-sizing: border-box;
    position: relative;
    display:block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 40px;
    margin:4px;
   }
   
   .gg-danger::after,
   .gg-danger::before {
    content: "";
    display:block;
    box-sizing: border-box;
    
    border-radius: 3px;
    width: 2px;
    background: currentColor;
   
   }
   
   .gg-danger::after {
    top: 2px;
    height: 8px
   }
   
   .gg-danger::before {
    height: 2px;
    bottom: 2px
   } 
   .error{
    margin-top: 5px;
    display: flex;
    align-content: center;
   }
   
   .error-message{
    margin-top:4px;
   
    color: red;
    font-size: 13px;
   }
   .red{
    background-color: rgb(233, 49, 3);
}
.green{
    background-color: #42fa9e;
}
.no-courses-message{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
    
}
.correct{
    border-radius:10px ;
    position: fixed;
    top: -125px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 200px;
    height: 125px;
    z-index: 1;
    animation: message 1s ease-out , message-return 1s ease-out 3s  ;
    animation-fill-mode: forwards;
   }
   .correct-message{
    width: auto;
   position: absolute;
   top:55px;
   right: 5px;
   }
 
   @keyframes message{
    from{
  top:-150px;
    }
    to{
  top:15px;
    }
  }
  @keyframes message-return{
    from{
  top:15px;
    }
    to{
  top:-150px;
    }
  }
  .c{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
.upload-code{
    display:grid;
      grid-template-rows: repeat(1,250px);
      grid-auto-columns: auto;
}
.code{
    position: absolute;
    left: 10%;
   
    width: 120px;
    height: 40px;
    box-shadow: 2px 1px 3px rgba(143, 142, 142, 0.5) ;
    border-radius: 15px;
    border: none;
    background:var(--yalo);

}
  .hidden{
    display: none;
}