<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="uploadQuestion.css">
    <title>Document</title>
  </head>
  <body >
    <div class="center">
      <div class="header">
        <div class="upload-class">ارفع سؤال </div>
      </div>

      <div class="container">
        <div class="form">

          <div class="label-input big">
            <label for="class-name" dir="rtl" lang="ar">السؤال:</label>
           
          </div>
          <input type="text" id="class-name" class="input-question">
          
          <div class="label-input">
            <label for="image"  dir="rtl" lang="ar">الخيار الاول</label>
           
          </div>
          <input type="text" class="input" id="image">

          <div class="label-input">
            <label for="num"  dir="rtl" lang="ar">الخيار الثاني </label>
           
          </div>
          <input type="text" class="input" id="num" dir="rtl" lang="en">

          <div class="label-input">
            <label for="num1"  dir="rtl" lang="ar">الخيار الثالث </label>
           
          </div>
          <input type="text" class="input" id="num1" dir="rtl" lang="en">

          <div class="label-input">
            <label for="num2"  dir="rtl" lang="ar">الخيار الرابع </label>
           
          </div>
          <input type="text" class="input" id="num2" dir="rtl" lang="en">

        </div>



        <div class="form">

            <div class="label-input big">
              <label for="class-name" dir="rtl" lang="ar">السؤال:</label>
             
            </div>
            <input type="text" id="class-name" class="input-question">
            
            <div class="label-input">
              <label for="image"  dir="rtl" lang="ar">الخيار الاول</label>
             
            </div>
            <input type="text" class="input" id="image">
  
            <div class="label-input">
              <label for="num"  dir="rtl" lang="ar">الخيار الثاني </label>
             
            </div>
            <input type="text" class="input" id="num" dir="rtl" lang="en">
  
            <div class="label-input">
              <label for="num1"  dir="rtl" lang="ar">الخيار الثالث </label>
             
            </div>
            <input type="text" class="input" id="num1" dir="rtl" lang="en">
  
            <div class="label-input">
              <label for="num2"  dir="rtl" lang="ar">الخيار الرابع </label>
             
            </div>
            <input type="text" class="input" id="num2" dir="rtl" lang="en">
  
          </div>
        <div class="btn"><button class="btn-sub" dir="rtl" lang="ar">اضف سؤال</button></div>
        <div class="btn"><button class="btn-sub" dir="rtl" lang="ar">ارفع</button></div>
      </div>
    </body>
  </html>