<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="settings.css">
        <title>settings</title>
    </head>
    <body dir="rtl" lang="ar">

        <div class="container">
            <button class="setting-btn">&#9881;</button>
            <div class="list">
                <ul class="btn-list">
                    <button class="btn">حسابي </button>
                    <button class="btn">الكورسات</button>
                    <button class="btn">تغعيل الاكواد</button>
                    <button class="btn">المساعدة</button>
                </ul>
            </div>

            <div class="setting-info">
                <div class="name-email">
                    <div class="account-info">my account info</div>
                    <div class="label">
                        <label for="name">Name:</label>
                        <input type="text" id="name" class="block ">
                    </div>
                    <div class="label">
                        <label for="email">Email:</label>
                        <input type="email" id="email" class="block">
                    </div>
                    <button class="save">save changes</button>
                </div>
<div class="password-update">
    <div class="password-update-title">update my passsword</div>
    <div class="label">
   <label for="Current-password" >Password:</label> 
   <input type="password" class="block" id="Current-password">
</div>
<div class="label">
   <label for="password" class="label"> New Password:</label>
   <input type="password" class="block" id="password">
</div>
<div class="label">
   <label for="confirm-password" class="label">confirm password:</label>
   <input type="password" class="block" id="confirm-password">
</div>
   <button class="reset">reset</button>

</div>


            </div>

            <div class="setting-info1">
                <div class="name-email">
                    <div class="account-info">تفعيل الكود</div>
                    <div class="label">
                        <label for="name"  >ادخل الكود</label>
                        <input type="text" id="name" class="block ">
                    </div>
                    
                    <button class="save">تفعيل </button>
                </div>



            </div>

        </div>
    </body>
</html>