<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="forget.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="title-text">
           <div class="title login">
              YOUR EMAIL
           </div>
        </div>
        <form action="#" class="email">
         <label for="email">email:</label>
         <input type="text" placeholder="Your Email/Full Name" class="email-box" required id="email">
        </form>
        <button class="sub-btn">send</button>
    </div>
    <div class="wrapper">
        <div class="title-text">
           <div class="title login">
             write code
           </div>
        </div>
        <form action="#" class="email">
         <label for="number">The code:</label>
         <input type="text" placeholder="******" class="email-box" required id="number">
        </form>
        <button class="sub-btn">send</button>
    </div>
    <div class="wrapper hight">
        <div class="title-text">
           <div class="title login">
             NEW password
           </div>
        </div>
        <form action="#" class="email">
         <label for="password">New password</label>
         <input type="password" placeholder="******" class="email-box" required id="number">
         <label for="password">confurm password</label>
         <input type="password" placeholder="******" class="email-box" required id="number">
        </form>
        <button class="sub-btn">send</button>
    </div>
  </div>         
</body>
</html>