<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login and Registration </title>
      <link rel="stylesheet" href="singup.css">
      <link href='https://unpkg.com/css.gg@2.0.0/icons/css/danger.css' rel='stylesheet'>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script type="module"  defer src="signControllers/signController.js"></script>
   </head>
   <body>
      
      <div class="wrapper ">
         <div class="title-text ">
            <div class="title login ">
               Login 
            </div>
            <div class="title signup ">
               Signup 
            </div>
         </div>
         <div class="form-container ">
            <div class="slide-controls">
               <input type="radio" name="slide" id="login" checked>
               <input type="radio" name="slide" id="signup">
               <label for="login" class="slide login">Login</label>
               <label for="signup" class="slide signup">Signup</label>
               <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
               <form action="#" class="login">
                  <div class="field">
                     <input type="text"  placeholder="FULL NAME " required>
                     <div class="error hidden">
                        <div class="gg-danger"></div>
                        <div class="error-message"></div>
                     </div>
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Password" required>
                     <div class="error hidden">
                        <div class="gg-danger"></div>
                        <div class="error-message"></div>
                     </div>
                  </div>
                  <div class="pass-link">
                     <a href="#">Forgot password?</a>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Login" class="btn-login">
                  </div>
                  <div class="signup-link">
                     Not a member? <a href="">Signup now</a>
                  </div>
               </form> 
               
                <form action="#" class="signup " >
                  <div class="field ">
                     <input type="text" placeholder="FULL NAME"  class=" full-name-singup "  required>
                   <div class="error hidden">
                      <div class="gg-danger "></div>
                      <div class="error-message"></div>
                   </div>
                     
                    
                  </div>
                  <div class="field">
                     <input type="text" placeholder="Email Address" required class="email-singup">
                     <div class="error hidden">
                        <div class="gg-danger"></div>
                        <div class="error-message"></div>
                     </div>
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Password" required class="password-singup">
                     <div class="error hidden">
                        <div class="gg-danger"></div>
                        <div class="error-message"></div>
                     </div>
               
                  </div>
                  <div class="field">
                     <input type="password" placeholder="confirm password" required class="Cpassword-singup">
                     <div class="error hidden">
                        <div class="gg-danger"></div>
                        <div class="error-message"></div>
                     </div>
               
                  </div>
                 
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Signup" class="btn-signup">
                  </div>
                </form>
           </div>
         
           
         </div>
         
         <div class="wrappeer hidden" > <svg class="animated-check" viewBox="0 0 24 24">
            <path d="M4.1 12.7L9 17.6 20.3 6.3" fill="none" /> </svg>
            <div class="created">your account has been created </div>
         </div>
          <div class="spinner hidden">
          <div class="loader"></div>
         </div>
      </div>
   </body>
</html>
